img{
    transition: all .2s ease-in-out;
}

#img1:hover{
    transform: scale(.5);
}

#img2:hover{
    transform:rotate(360deg);
}
#img3:hover{
    transform:translateX(100px) translateY(-100px);
    
}
#img4:hover{
    opacity:0.453;
}